@import 'fonts/fa/all.css';

@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Light";
    src: url('fonts/roboto/Roboto-Light.ttf');
}


@font-face {
    font-family: "Roboto-Medium";
    src: url('fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: "Noto Sans JP";
    src: url('fonts/noto-sans-jp/NotoSansJP-Regular.otf');
}

@font-face {
    font-family: "Noto Sans JP-Medium";
    src: url('fonts/noto-sans-jp/NotoSansJP-Medium.otf');
}

@font-face {
    font-family: "Material Icons";
    font-style:normal;
    font-weight:400;
    src:url('fonts/materialicons.woff2') format('woff2')
}

/* Light Theme
:root {
    --moon-color: #0081ff;
    --default-text-color: #555;
    --default-page-background: #f4f4f4;
    --container-background: #FFF;
    --header-footer-background: #FFF;
    --header-footer-text-color: #555;
    --header-footer-border: rgb(255,255,255,.2) solid 1px;
    --form-box-background: #FFF;
    --form-box-border: rgb(0,0,0,.2) solid 1px;
    --form-box-color: #555;
    --form-dropdown-background: #FFF;
    --seperator-color: #e4e4e4;
    --scrollbar-track-color: rgb(0, 129, 255, .1);
    --scrollbar-thumb-color: rgb(0, 129, 255, .3);
    --alloy-icon: url('/src/svgs/alloy.svg');
    --sysya-icon: url('/src/svgs/sysya.svg');
    --womginx-icon: url('/src/svgs/womginx.svg');
    --base-width: 1280px;
    --base-width-small: calc(100% - 75px);
    --frame-control-button-color: var(--moon-color);
    --frame-control-button-border: #999 solid 1px;
}
*/

/* Dark Theme */
:root {
    --moon-color: #0081ff;
    --default-text-color: #F4F4F4;
    --default-page-background: #121212;
    --container-background: #181818;
    --container-border: rgb(255,255,255,.2) solid 1px;
    --header-footer-background: #181818;
    --header-footer-text-color: #F4F4F4;
    --header-footer-border: rgb(255,255,255,.2) solid 1px;
    --form-box-background: #181818;
    --form-box-border: rgb(255,255,255,.1) solid 1px;
    --form-box-color: #F4F4F4;
    --form-dropdown-background: var(--form-box-background);
    --seperator-color: rgb(255,255,255,.2);
    --scrollbar-track-color: rgb(0, 129, 255, .1);
    --scrollbar-thumb-color: rgb(0, 129, 255, .3);
    --alloy-icon: url('/src/svgs/alloy.svg');
    --sysya-icon: url('/src/svgs/sysya.svg');
    --womginx-icon: url('/src/svgs/womginx.svg');
    --initate-search-icon: url('/src/svgs/search-init.svg');
    --base-width: 1280px;
    --base-width-small: calc(100% - 75px);
    --frame-control-button-color: var(--moon-color);
    --frame-control-button-border: rgb(255,255,255,.2) solid 1px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: "Noto Sans JP-Medium";
}

svg .cls-1{
    fill:none;
    stroke-width:18px;
} 
svg .cls-1, .root[id="home"] svg .cls-2 {
    stroke: var(--moon-color);
    stroke-miterlimit:10;
}
svg .cls-2 {
    fill:var(--moon-color);
    stroke-width:5px;
}

body {
    background: var(--default-page-background);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}
/*Header*/
header {
    width: 100%;
    height: 60px;
    background: var(--header-footer-background);
    border-bottom: var(--header-footer-border);
}
nav {
    width: var(--base-width);
    margin: 0px auto;
}
nav #sitemap, nav #socials {
    display: inline-flex;
    width: 50%;
}
nav #sitemap {
    float: left;
    justify-content: flex-start;
}
nav #socials {
    float: right;
    justify-content: flex-end;
}
nav a {
    display: inline-block;
    line-height: 60px;
    font-size: 15px;
    color: var(--header-footer-text-color);
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-family: "Roboto";
    outline: none;
    transition: 0.1s;
    margin: 0px 20px;
    cursor: pointer;
}
nav a:hover {
    text-decoration: underline;
    color: var(--moon-color);
}
nav #logo {
    height: 35px;
    width: 35px;
    margin: 12px 20px 0px 20px;
}
nav #seperate {
    width: 1px;
    height: 32px;
    background: var(--seperator-color);
    margin: 14px 0px 0px 0px;
    display: inline-block;
}
nav #socials a {
    font-size: 20px;
}
nav #dropdown #content {
    display: none;
    position: absolute;
    background: var(--header-footer-background);
    z-index: 1;
}
nav #dropdown #content a {
    line-height: 45px;
    display: block;
    text-align: left;
    width: 140px;
}
nav #dropdown:hover #content {
    display: block;
}
#mobile-header {
    display: none;
}
#mobile-header #overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(34,34,34,.2);
    display: none;
    z-index: 1;
    
}
#mobile-header #mobile-sidebar {
    width: 300px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: var(--header-footer-background);
    z-index: 2;
    position: fixed;
    right: -300px;
    transition: 0.1s;
}
#mobile-header #mobile-sidebar #top {
    line-height: 100px;
    height: 100px;
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--seperator-color);
}
#mobile-header #mobile-sidebar #top #close-mobile-header {
    font-family: "Material Icons";
    position: absolute;
    display: block;
    width: 40px;
    line-height: 40px;
    font-size: 25px;
    color: var(--default-text-color);
    top: 0px;
    left: 0px;
    transition: 0.1s;
    cursor: pointer;
}
#mobile-header #mobile-sidebar #top #close-mobile-header:hover {
    color: var(--moon-color);
}
#mobile-header #mobile-sidebar #top #logo {
    width: 40px;
    height: 40px;
    
}
#mobile-header #mobile-sidebar #top #logo svg {
    margin: 0px 0px -7px 0px;
}
#mobile-header #mobile-sidebar #top #text {
    color: var(--moon-color);
    margin: 0px 0px 0px 0px;
    font-size: 35px;
}
#mobile-header #mobile-sidebar #logo, #mobile-header #mobile-sidebar #text {
    display: inline-block;
}
#mobile-header #mobile-sidebar #middle {
    border-bottom: 1px solid var(--seperator-color);
    text-align: center;
}
#mobile-header #mobile-sidebar #middle a, #mobile-header #mobile-sidebar #bottom a {
    color: var(--default-text-color);
    text-align: center;
    margin: 20px 0px;
    display: block;
    transition: 0.1s;
    text-decoration: none;
    cursor: pointer;
}
#mobile-header #mobile-sidebar #middle a:hover, #mobile-header #mobile-sidebar #bottom a:hover {
    color: var(--moon-color);
    text-decoration: underline;
}
#mobile-header nav {
    width: calc(100% - 30px);
}
#mobile-header #moon {
    display: inline-block
}
#mobile-header #open-links {
    position: absolute;
    right: 30px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color)
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

/*Base container*/
.root {
    position: absolute;
    width: 100%;
    height: calc(100% - 121px);
    top: 61px;
    overflow: auto;
    text-align: center;
    scrollbar-width:thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}
/*Particles*/
#pJS {
    position: fixed;
    width: 100%;
    height: calc(100% - 121px);
    top: 61px;
    z-index: -1;
}
/*Home*/
.root[id="home"] #logo {
    margin: 10% 0px 25px 0px;
}
.root[id="home"] #logo #moon, .root[id="home"] #logo #text {
    display: inline-block;
}
.root[id="home"] #logo #moon svg {
    height: 80px;
    margin: -16px 0px;
}
.root[id="home"] #logo #text {
    color: var(--moon-color);
    font-size: 70px;
}

.root[id="home"] #search-wrapper {
    width: 540px;
    margin: 15px auto;
}
.root[id="home"] #form {
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.root[id="home"] #form #search-box {
    width: calc(100% - 40px);
    height: 40px;
    padding: 0px 10px;
    border: var(--form-box-border);
    font-family: "Roboto";
    border-radius: 0px;
    box-sizing: border-box;
    outline: none;
    box-shadow: none !important;
    background: var(--form-box-background);
    color: var(--form-box-color);
}
.root[id="home"] .form-control {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: var(--form-box-border);
    border-radius: 3px;
    font-family: "Roboto";
    box-sizing: border-box;
    background: var(--form-box-background);
    color: var(--default-text-color);
    outline: none;
    cursor: pointer;
}
.root[id="home"] .form-control span {
    display: inline-block;
    margin: 7px 0px 0px 0px;
    width: 24px;
    height: 24px;
}
.root[id="home"] .form-control[id="search-option"] {
    border-radius: 3px 0px 0px 3px;
    border-right: none;
}
.root[id="home"] .form-control[id="init"] {
    border-radius: 0px 3px 3px 0px;
    border-left: none;
}
.root[id="home"] .form-control[id="init"] span {
    background: var(--initate-search-icon);
}
.root[id="home"] #description {
    width:500px;
    margin: 0px auto;
    color: var(--default-text-color);
    font-size: 14px;
}
.root[id="home"] #search-dropdown {
    display: block;
    width: 125px;
    padding: 10px;
    position: absolute;
    border:  var(--form-box-border);
    border-top: none;
    background: var(--form-dropdown-background);
    z-index: 1px;
}
.root[id="home"] #search-dropdown a {
    display: inline-block;
    width: 100%;
    line-height: 25px;
    color: var(--default-text-color);
    font-family: "Roboto";
    text-align: left;
    cursor: pointer;
}
.root[id="home"] #search-dropdown a .icon {
    display: inline-block;
    margin: 0px 10px -5px 0px;
    width: 24px;
    height: 24px;
}
.root[id="home"] #search-dropdown a #womginx, #search-option #womginx {
    background: var(--womginx-icon);
}
.root[id="home"] #search-dropdown a #sysya, #search-option #sysya {
    background: var(--sysya-icon);
    background-size: contain;
}

.root[id="home"] #search-dropdown a #alloy, #search-option #alloy {
    background: var(--alloy-icon);
}
.root[id="home"] #search-dropdown #seperate {
    height: 1px;
    width: 100%;
    margin: 8px 0px;
    background: var(--seperator-color);
    display: block;
}
.root[id="home"] .prox-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #FFF;
}
.root[id="home"] .prox-container iframe {
    width: 100%;
    height: 100%;
    position: fixed;
    border: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.root[id="home"] .prox-container #controls {
    position: fixed;
    display: inline-flex;
    top: 15px;
    right: 15px;
    z-index: 2;
}
.root[id="home"] .prox-container #controls a {
    display: inline-block;
    margin: 0px 5px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--frame-control-button-color);
    background: var(--container-background);
    border: var(--frame-control-button-border);
    border-radius: 2px;
    font-size: 23px;
    cursor: pointer;
    font-family: "Material Icons";
}
/*Games*/
.root[id="gs"] .dashboard {
    padding: 15px 30px;
    width: var(--base-width);
    margin: 0px auto;
}
.root[id="gs"] .dashboard #controls {
    display: flex;        
    justify-content: space-between;
}
.root[id="gs"] .dashboard #controls #search-wrapper, .root[id="gs"] .dashboard #controls #storage-wrapper {
    display: inline-block
}
.root[id="gs"] .dashboard #controls a {
    display: inline-block;
    padding: 0px 10px;
    line-height: 40px;
    margin: 0px 4px 0px 0px;
    border: solid 1px var(--moon-color);
    color: var(--moon-color);
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    transition: 0.1s;
}
.root[id="gs"] .dashboard #controls a:hover {
    color: #FFF;
    background: var(--moon-color);
}
.root[id=gs] .dashboard #controls #gs-search {
    width: 200px;
    height: 40px;
    padding: 0px 10px;
    border: var(--form-box-border);
    border-radius: 3px;
    font-family: "Roboto";
    box-sizing: content-box;
    outline: none;
    background: var(--form-box-background);
    color: var(--form-box-color);
}
.root[id="gs"] .dashboard #seperate {
    display: block;
    width: 100%;
    height: 1px;
    margin: 10px 0px 0px 0px;
    background: var(--seperator-color);
}
.root[id="gs"] .dashboard #entries {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}
.root[id="gs"] .dashboard #entries #entry {
    width: 250px;
    height: 130px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    display: inline-block;
    transition: 0.1s;
    margin: 10px 0px;
    cursor: pointer;
}
.root[id="gs"] .dashboard #entries #entry:hover {
    box-shadow: 0 2px 2px 0 var(--moon-color),0 6px 20px 0 var(--moon-color) !important;
}
.root[id="gs"] .dashboard #entries #entry #title {
    visibility: hidden;
    text-shadow: 1px 1px 6px #000;
    font-family: "Noto Sans JP-Medium";
    user-select: none;
    margin: 6px;
    text-align: left;
    color: #FFF;
}
.root[id="gs"] .dashboard #entries #entry:hover #title {
    visibility: visible;
}
.root[id="gs"] .dashboard #invalid-search {
    color: var(--default-text-color);
    margin: 10px 0px 0px 0px;
    font-family: "Roboto-Medium";
    font-size: 19px;
    width: 100%;
    text-align: left;
}
.root[id=gs] .game-container #controls {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.root[id=gs] .game-container #controls a {
    display: inline-block;
    margin: 0px 5px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--frame-control-button-color);
    background: var(--container-background);
    border: var(--frame-control-button-border);
    border-radius: 2px;
    font-size: 23px;
    cursor: pointer;
    font-family: "Material Icons";
}
.root[id=gs] .game-container #game iframe, .root[id=gs] .game-container #game ruffle-player {
    height: 100%;
}
.root[id=gs] .game-container #game iframe {
    width: calc(100% - 1px);
    position: absolute;
    border: none;
    left: 0;
    right: 0;
    bottom: 0;
}
.root[id="gs"] .game-container #game ruffle-player {
    width: calc(100% - 1px);
    position: absolute;
    border: none;
    left: 0;
    right: 0;
    bottom: 0;
}

.root[id="utils"] .container {
    width: 600px;
}
.root[id="utils"] .container input {
    width: calc(100% - 126px);
    height: 40px;
    padding: 0px 10px;
    border: var(--form-box-border);
    border-radius: 3px;
    font-family: "Roboto";
    box-sizing: content-box;
    outline: none;
    font-size: 12.5px;
    background: var(--form-box-background);
    box-shadow: none !important;
    color: var(--form-box-color);
}
.root[id="utils"] .container a {
    line-height: 40px;
    padding: 0px 10px;
    border: var(--form-box-border);
    border-radius: 3px;
    font-family: "Roboto";
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    font-size: 12.5px;
    background: var(--form-box-background);
    color: var(--form-box-color);
    display: inline-block;
}
.root[id="utils"] .container p {
    margin: 15px 0px 0px 0px;
    font-size: 14px;
}

.root[id="about"] .container, .root[id="utils"] .container {
    text-align: left;
    margin: 50px auto;
    background: var(--container-background);
    border: var(--container-border);
    padding: 30px 25px;
    border-radius: 2px;
    color: var(--default-text-color);
}
.root[id="about"] .container {
    width: 800px;
}
.root[id="about"] ul {
    padding: 0px 0px 0px 18px;
}
.root[id="about"] a, .root[id="utils"] a {
    color: var(--moon-color);
    transition: 0.1s;
}
.root[id="about"] a:hover, .root[id="utils"] a:hover {
    color: var(--moon-color);
}
.root[id="about"] p, .root[id="about"] h1, .root[id="utils"] p, .root[id="utils"] h1 {
    margin: 0px;
    padding: 0px;
}
.root[id="about"] h1:nth-child(1), .root[id="utils"] h1:nth-child(1) {
    margin: 0px 0px 8px 0px;
}
.root[id="about"] h1, .root[id="utils"] h1 {
    margin: 0px 0px 10px 0px;
}
.root[id="about"] #seperate, .root[id="utils"] #seperate {
    width: 100%;
    height: 1px;
    background: var(--seperator-color);
    margin: 15px 0px;
    display: block;
}
/* Privacy Policy & Terms*/
.root[id="privacy"] .container, .root[id="terms"] .container {
    width: var(--base-width);
    margin: 0px auto;
    text-align: left;
    color: var(--default-text-color);
}
.root[id="privacy"] h1, .root[id="terms"] h1 {
    font-size: 40px;
}
.root[id="privacy"] strong, .root[id="terms"] strong {
    font-weight: 400;
    font-family: "Roboto-Medium";
}
.root[id="privacy"] a, .root[id="terms"] a {
    color: var(--moon-color);
    outline: none;
}

noscript, #invalidPage {
    color: var(--default-text-color);
    font-size: 28px;
    margin: 15px 0px 0px 0px;
    display: block;
    font-family: "Noto Sans JP-Medium";
}

/*Footer*/
footer {
    width: calc(100% - 40px);
    height: 60px;
    background: var(--header-footer-background);
    border-top: var(--header-footer-border);
    padding: 0px 20px;
    position: absolute;
    bottom: 0;
}

footer #wrapper {
    text-align: center;
    font-size: 15px;
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

footer #wrapper #seperate {
    width: 1px;
    height: 32px;
    background: var(--seperator-color);
    margin: 14px 0px 0px 0px;
    display: inline-block;
}

footer #wrapper a {
    display: inline-block;
    line-height: 60px;
    font-size: 15px;
    color: var(--header-footer-text-color);
    text-transform: capitalize;
    text-decoration: none;
    font-family: "Roboto";
    outline: none;
    transition: 0.1s;
    width: 135px;
    text-align: center;
    margin: 0px 20px;
    cursor: pointer;
}

footer #wrapper a:hover {
    text-decoration: underline;
    color: var(--moon-color);
}

@media only screen and (max-width:1365px) {
    nav {
        width: var(--base-width-small);
    }
    .root[id="privacy"] .container, .root[id="terms"] .container, .root[id="gs"] .dashboard {
        width: var(--base-width-small);
    }
    .root[id="privacy"] .container, .root[id="terms"] .container {
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 1120px) {
    .root[id="gs"] .dashboard #entries {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 870px) {
    .root[id="gs"] .dashboard #entries {
        grid-template-columns: auto auto;       
    }
}

@media only screen and (max-width: 590px) {
    .root[id="gs"] .dashboard #entries {
        grid-template-columns: auto;       
    }
    .root[id=gs] .dashboard #controls #search-wrapper {
        width: 28%;
    }
    .root[id=gs] .dashboard #controls #gs-search {
        width: 100%;
    }
}
@media only screen and (max-width:690px) {
    #desktop-header {
        display: none;
    }
    #mobile-header {
        display: block;
    }

    .root[id="home"] #search-wrapper {
        width: 80%;
    }
    .root[id="home"] #logo {
        margin-top: 20%;
    }
    .root[id="home"] #logo #moon svg {
        height: 70px;
        width: 70px;
    }
    .root[id="home"] #logo #text {
        font-size: 60px;
    }

    .root[id="utils"] .container {
        width: calc(100% - 100px)
    }
}
@media only screen and (max-width: 905px) {
    .root[id="about"] .container {
        width: calc(100% - 100px)
    }
}